@model AV1.Models.ProdutoViewModel

<h1>Novo produto</h1>
<form asp-action="Novo">
    <div class="card">
        <div class="card-header">Dados do Produto</div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6 col-sm-12">
                    <label asp-for="CodigoDoProduto"></label>
                    <input type="text" asp-for="CodigoDoProduto" class="form-control" />
                    <span asp-validation-for="CodigoDoProduto" class="text-danger"></span>
                </div>
                <div class="col-md-4 col-sm-12">
                    <label asp-for="Preco"></label>
                    <input type="text" asp-for="Preco" class="form-control" />
                    <span asp-validation-for="Preco" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label asp-for="Descricao"></label>
                    <input type="text" asp-for="Descricao" class="form-control" />
                    <span asp-validation-for="Descricao" class="text-danger"></span>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label asp-for="Categoria"></label>
                    <span asp-validation-for="Categoria" class="text-danger"></span>
                    <select asp-for="Categoria" class="form-control">
                        <option>Selecione</option>
                        <option value="Infatil">Masculino</option>
                        <option value="Juvenil">Feminino</option>
                        <option value="Adulto">Outros</option>
                    </select>
                </div>
                <div class="col-md-6 col-sm-12">
                    <label asp-for="Observacao"></label>
                    <input type="text" asp-for="Observacao" class="form-control" />
                </div>
                </div>
                <hr />
                <div class="card-footer">
                    <div class="row">
                        <div class="col-md-2">
                            <input type="submit" value="Gravar" class="btn btn-success" />
                        </div>
                    </div>
                </div>
            </div>
    </div>
</form>
<hr />

<div class="row">
    <div class="col-md-2">
        <a class="btn btn-dark" asp-controller="Cliente" asp-action="Index">Voltar</a>
    </div>
</div>